### Java template
*.class

# Package Files #
*.jar
*.war
*.ear
/target/
.classpath
/bin/

# Intellij #
suime-library.iml
.idea/

# Paoding #
data/dic/.compiled/

# Eclipse project files
.project
*.settings/
.settings
.settings/
.settings/org.eclipse.wst.common.component
org.eclipse*
.externalToolBuilders
src/main/java/com/suime/library/remote/
src/main/webapp/404.html
